doctype html
html
  // Head
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  // Body
  body
    // Content
    block content

    // Scripts
    block scripts
